<div class="col-md-10">
  <b>Question:</b> <%= @question.content %> </br>
  <% @options.each do |option| %>
    <b><%= option.correct %>: </b>
    <%= option.content %> </br>
  <% end %>
  <%= link_to 'Edit', edit_admin_question_path(@question), remote: true %>
</div>