<% provide :title, @course.name %>
<div class="col-md-12">
  <ul class ="list-group">
      <h1><%= @course.name %></h1></br>
    <li class="list-group-item list-group-item-info">
      <%= @course.description %>
    </li>
  </ul>
</div>